* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background-color: rgba(266, 167, 111, 1);
}

.navbar {
  display: grid;
  min-width: 500px;
  grid-template-areas: "Home Menu Inquiry-form";
}

#Home-Btn {
  grid-area: Home;
}

#Menu-Btn {
  grid-area: Menu;
}
#Inquiry-Btn {
  grid-area: Inquiry-form;
}

.main-page-header {
  display: grid;
  grid-template-areas: "icon nav-bar";
}

.chef-icon {
  max-width: 3rem;
  max-height: 3rem;
  grid-area: icon;
}

.main-page-header {
  display: grid;
  place-items: center;
  margin: 2rem;
}

.nav-link {
  color: brown;
  text-decoration: none;
  margin-left: 2rem;
}

#content {
  display: grid;
  place-items: center;
}

.food-container {
  display: grid;
  grid-template-areas:
    "food-name"
    "food-image"
    "food-description";
  border: 2px solid white;
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  padding: 1rem;
}

.container-img {
  grid-area: food-image;

  justify-self: center;
  width: 2rem;
  height: 2rem;
}

.couple-img {
  max-height: 25vh;
  max-width: 25vh;
}

.about-section {
  max-width: 100vh;
  max-height: 100vh;
  color: white;
  margin-bottom: 1rem;
}

.hours-text {
  color: white;
}

.inquiry-header {
  color: white;
}

#name-label,
#number-label,
#email-label,
#text-area {
  color: white;
}

.inquiry-container {
  display: grid;
}

#text-area-input {
  min-width: 25vh;
  max-height: 100vh;
}
