body {
  background-color: rgba(255, 253, 208, 1);
}

.nav-link {
  color: brown;
  text-decoration: none;
}

#content {
  display: grid;
}

.food-container {
  border: 2px solid blue;
  width: 10rem;
  height: 10rem;
}
