body {
  background-color: grey;
}

.nav-link {
  color: brown;
  text-decoration: none;
}

#content {
  display: grid;
}

.food-container {
  border: 2px solid blue;
  width: 20rem;
  height: 20rem;
}
